.comment-container {
    width: 100%;
}

.comment-wrapper {
    display: flex;
    align-items: flex-start;
}

.comment-author-profile-field {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.comment-author-field,
.comment-content-field {
    width: 100%;
}

.comment-author-field {
    display: flex;
    flex-direction: center;
}

.comment-author-nickname {
    font-weight: bold;
}

.comment-createdat {
    font-size: 0.8rem;
}

.comment-content {
    margin:0;
}

#comment-author-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

