.comment-card-list-container {
    width: 100%;
    box-sizing: border-box;

    margin-top: 3%;
}

.comment-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
}

#comment-form-content {
    flex: 1;
    width: 100%;
    min-height: 120px;
    resize: none;
    box-sizing: border-box;

    padding: 2% 2%;
    border: transparent;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1rem;

}

#comment-create-btn {
    cursor: pointer;
    align-self: flex-end;

    padding: 2% 10%;
    border: transparent;
    border-radius: 15px;
    background-color: #ACA0EB;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 2%;
    margin-right: 2%;
}