.common-header-container {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 100px;
}
.common-header-wrapper {
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;

    border-bottom: 1px solid black;
}

.common-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 15%;
}

.common-header-center {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Sandoll GogoRound;
    font-weight: 400;
    font-style: 03 Rg;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.common-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 15%;
}

#common-back-btn {
    width: 38px;
    height: 38px;

    border: none;
    background: none;
    cursor: pointer;


    font-family: Sandoll GogoRound;
    font-weight: 400;
    font-style: 03 Rg;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}



#common-header-userprofile {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    display: block;
    border: none;
}

#common-header-profile-btn {
    width: 10%;
    height: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    display: block;
    border: none;

    cursor: pointer;
}