.post-card-list-container{
    width: 60%;
    margin: 4% auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.post-card-list-section {
    display: none;
}
.post-card-list-section.active {
    display: block;
}
.post-detail-section {
    display: none;
    width: 100%;
}
.post-detail-section.active {
    display: block;
}